{% extends 'shared/base.html' %} {% block titleBlock %}
<title>{{site_title}}</title>
{% endblock titleBlock %} {% block stylingBlock %} {% endblock stylingBlock %}
{% block bodyContent %}
<div class="row mt-5">
  <div class="py-5 px-3 bg-white col-10 mx-auto">
    <h4 class="text-center">All Emails</h4>
    <hr />
    <div class="row">
      <div class="col-12">
        {% comment %} button to export in excel {% endcomment %}
        <a href="/export_excel" class="btn btn-primary">Export in Excel</a>
      </div>
      {% comment %} table {% endcomment %}
      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Email</th>
            <th scope="col">Count</th>
          </tr>
        </thead>
        <tbody>
          {% for email in emails %}
          <tr>
            <td scope="row">{{email.id}}</td>
            <td>{{email.email}}</td>
            <td>{{email.count}}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
      {% comment %} /table {% endcomment %}
    </div>
  </div>
  {% endblock bodyContent %} {% block scriptBlock %}{% endblock scriptBlock %}
</div>
